{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-3xl font-bold mb-6 text-center text-gray-800 my-12">Réinitialiser votre mot de passe</h1>

    <!-- Conteneur du formulaire -->
    <div class="max-w-lg mx-auto bg-white p-8 rounded-lg shadow-lg mb-24 space-y-6">

        <!-- Formulaire de réinitialisation -->
        <form method="post" class="space-y-6">
            <!-- Champ email -->
            <div>
                <label for="email" class="block text-sm font-medium text-gray-700 mb-2">Email</label>
                <input type="email" id="email" name="email" required class="w-full p-3 rounded-md border border-gray-300 focus:border-[#2C2C2C] focus:ring focus:ring-[#2C2C2C] transition duration-300" placeholder="Entrez votre adresse email">
            </div>

            <!-- Bouton envoyer -->
            <div class="flex justify-center">
                <button type="submit" class="w-2/3 bg-[#2C2C2C] text-white px-6 py-3 rounded-md shadow-md hover:bg-gray-800 focus:outline-none focus:ring focus:ring-gray-300 transition duration-300 transition duration-300 ease-in-out transform hover:scale-105">
                    Envoyer
                </button>
            </div>
        </form>

        <!-- Bouton retour vers la page login -->
        <div class="text-center mt-6 flex justify-center">
            <a href="{{ path('login') }}" class="w-2/3 inline-block bg-gray-500 text-white px-6 py-3 rounded-md shadow-md hover:bg-gray-600 focus:outline-none focus:ring focus:ring-gray-300 transition duration-300 transition duration-300 ease-in-out transform hover:scale-105">
                Retour
            </a>
        </div>
    </div>
{% endblock %}
