<p>Bonjour,</p>
<p>Pour réinitialiser votre mot de passe, veuillez cliquer sur le lien suivant :</p>
<p><a href="{{ url('app_reset_password', {'token': resetToken}) }}">Réinitialiser mon mot de passe</a></p>
<p>Ce lien expirera dans une heure.</p>
